<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card book-card">
                <div class="card-header">
                    <h2 class="text-center">What book would you like to insert?</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" formControlName="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image URL</label>
                            <input type="text" class="form-control" id="image" formControlName="image" required>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="form-label">Author</label>
                            <input type="text" class="form-control" id="author" formControlName="author" required>
                        </div>
                        <div class="mb-3">
                            <label for="genre" class="form-label">Genre</label>
                            <select class="form-select" id="genre" formControlName="genre" required>
                                <option value="Classic">Classic</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Science Fiction">Science Fiction</option>
                                <option value="Romance">Romance</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Magical Realism">Magical realism</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Horror">Horror</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="reservationDuration" class="form-label">Reservation Duration (days)</label>
                            <input type="number" class="form-control" id="reservationDuration"
                                formControlName="reservationDuration" min="1" max="7" required>
                        </div>
                        <div class="mb-3">
                            <label for="editorial" class="form-label">Publisher</label>
                            <select class="form-select" id="editorial" formControlName="editorial" required>
                                @for (editorial of editorials; track $index) {
                                <option [value]="editorial.id">{{ editorial.editorialName }}</option>
                                }
                            </select>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-sm">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
