<app-navbarsigned></app-navbarsigned>

<div class="container mt-5">
    <h2>List of reservations</h2>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Reservation</h5>
            <p class="card-text">DATE:</p>
            <p class="card-text">DATE:</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Reservation</h5>
            <p class="card-text">DATE:</p>
            <p class="card-text">DATE:</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Reservation</h5>
            <p class="card-text">DATE:</p>
            <p class="card-text">DATE:</p>
        </div>
    </div>
</div>

<footer></footer>