<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>User Book Sharing List</h4>
                </div>

                @if (reservations.length === 0) {
                <p>You did not share your books yet!</p>
                }
                <div class="card-body">
                    @for (reservation of reservations; track $index) {

                    <div>
                        <div class="mb-3">
                            <h5>Title: {{ reservation.book.title }}</h5>
                            <p>Reserved by: {{ reservation.user.username }}</p>
                            <p>Request date: {{ reservation.requestDate | date }}</p>
                            <p>Return date: {{ reservation.returnDate | date }}</p>
                        </div>
                    </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>