<div class="container">
  <header class="text-center my-5">
    <img src="../../../assets/images/bigLogo.jpg" alt="Logo" class="img-fluid" />
    <hr class="my-4">
    <p>Share your book and improve our environment
      <img src="../../../assets/images/eco.jpg" alt="Icon" class="img-icon" height="50" width="50" />
    </p>
  </header>
  <main>
    <form class="mb-3 search-form" [formGroup]="form" (ngSubmit)="onSubmit()" >
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search your book here" formControlName="searchTerm" id="searchTerm"/>
        <button type="submit" class="btn btn-primary"><img src="../../../assets/images/search.gif" alt="searchIcon" height="30px" width="30px"></button>
      </div>
    </form>
