<app-navbar></app-navbar>
<div class="container">
  <header>
    <h1 class="display-4">Workshelf</h1>
    <hr />
    <p>Share your book and improve our environment</p>
  </header>
  <main>
    <form>
      <input
        type="text"
        class="form-control"
        placeholder="Search your book here"
      />
    </form>
  </main>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mb-3">
      <div
        class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
        style="width: 18rem"
      >
        <img class="card-img-top" src="ig" alt="Img error" />
        <div class="card-body text-center">
          <h5 class="card-title text-center mb-2">Title</h5>
          <button type="button" class="btn btn-primary">More</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
        <div
          class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
          style="width: 18rem"
        >
          <img class="card-img-top" src="ig" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">Title</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div
          class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
          style="width: 18rem"
        >
          <img class="card-img-top" src="ig" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">Title</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div
          class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
          style="width: 18rem"
        >
          <img class="card-img-top" src="ig" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">Title</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div
          class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
          style="width: 18rem"
        >
          <img class="card-img-top" src="ig" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">Title</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div
          class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
          style="width: 18rem"
        >
          <img class="card-img-top" src="ig" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">Title</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div
          class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
          style="width: 18rem"
        >
          <img class="card-img-top" src="ig" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">Title</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div
          class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto"
          style="width: 18rem"
        >
          <img class="card-img-top" src="ig" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">Title</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>
  </div>

</div>
