<div class="container">
  <header>
    <h1 class="display-4">Workshelf</h1>
    <hr />
    <p>Share your book and improve our environment</p>
  </header>
  <main>
    <form>
      <input
        type="text"
        class="form-control"
        placeholder="Search your book here"
      />
    </form>
  </main>
</div>
<div class="container-fluid">
  <div class="row d-flex align-items-center">
    @for (book of books; track $index) {
      <div class="col-md-3 mb-3">
        <div class="card shadow-lg p-1 mb-5 bg-white rounde mx-auto" style="width: 18rem">
          <img class="card-img-top" [src]="book.image" alt="Img error" />
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-2">{{ book.title }}</h5>
            <button type="button" class="btn btn-primary">More</button>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-primary me-2" (click)="previousPage()">Previous</button>
    <span class="align-self-center">{{ currentPage }}</span>
    <button type="button" class="btn btn-primary ms-2" (click)="nextPage()">Next</button>
  </div>
</div>
