<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4>User Book List</h4>
        </div>
        <div class="card-body">
          @if (loading) {
          <div class="d-flex justify-content-center test">
            <div class="spinner-border" role="status">
              <span class="sr-only" id="loading"></span>
            </div>
          </div>
          } @else { @if (books.length === 0) {
          <p>You do not have any book.</p>
          } @else { @for (book of books; track $index) {
          <div>
            <div class="mb-3">
              <h5>{{ book.id }}</h5>
              <h5>{{ book.title }}</h5>
              <p>{{ book.author }}</p>
              @if(book.reserved == 1){
              <td>Reserved</td>
              } @else{
              <td>Available</td>
              }
              <td>
                <button
                  (click)="editBook(book.id)"
                  routerLinkActive="router-link-active"
                  type="button"
                  class="btn btn-primary"
                >
                  Editar
                </button>
              </td>
            </div>

            <div class="mb-3">
              <button
                (click)="detailBook(book.id)"
                routerLinkActive="router-link-active"
                type="button"
                class="btn btn-primary"
              >
                Detail
              </button>
            </div>
            <div class="mb-3">
              <button
                (click)="deleteBook(book)"
                routerLinkActive="router-link-active"
                type="button"
                class="btn btn-danger"
              >
                Delete
              </button>
            </div>
            <hr />
          </div>
          } } }
        </div>
      </div>
    </div>
  </div>
</div>
