<div class="section">
  <div class="container">
    <div class="row full-height  justify-content-start">
      <div class="col-12 text-center align-self-start p-4">
        <div class="section mb-2 pt-1 pt-sm-2 text-center">
          <img src="../../../assets/images/loginsignup.jpg" alt="loginOrSignUp" class="imageTitle" height="220px" width="375px">
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
          <label for="reg-log"></label>
          @if (loading) {
            <div class="spinner-container">
              <img src="../../../assets/images/spinner.jpg" alt="spinner" class="spinner"> 
              </div>
          }
          <div class="card-3d-wrap mx-auto p-4 mb-5">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <img src="../../../assets/images/login.jpg" alt="Login" height="110px" width="160px">
                    @if (!isLoggedIn){
                      <form name="form" #f="ngForm" class="mx-1 mx-md-4">
                        <div class="form-group">
                          <input type="email" name="username" [(ngModel)]="form.username" #username="ngModel" class="form-control" placeholder="Your Email" id="form3Example3c"
                            autocomplete="off">
                          <div class="text-danger {{ invisLogin ? 'visible' : 'invisible' }} mb-2">Username is required</div>

                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" class="form-control" placeholder="Your Password" id="form3Example3c"
                            autocomplete="off">
                              <div class="text-danger {{ invisLogin ? 'visible' : 'invisible' }} mb-2">Password is required</div>
                          <i class="input-icon uil uil-lock-alt"></i>
                          @if (isLoginFailed) {                           
                              <div class="alert alert-danger mt-2" role="alert">
                                <div class="text-danger m-0">Wrong credentials</div>
                            </div>
                          }
                        </div>
                        @if (isLoggedIn) {
                          <div class="form-group">
                            <div class="alert alert-success" role="alert">
                              Logged in as: {{ roles}}
                            </div>
                          </div>
                        }
                        <button type="button" class="btn btn-dark btn-lg" (click)="onSubmitLogin()">Log in</button>
                      </form>
                    }
                  </div>
                </div>
              </div>            
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <img src="../../../assets/images/singup.jpg" alt="Login" height="110px">
                    @if (!isSuccessful) {
                      <form name="formReg" #f="ngForm" class="mx-1 mx-md-4" (ngSubmit)="onSubmitReg()">
                        <div class="form-group">
                          <input type="text" id="form3Example1c" placeholder="Your Username" name="username" [(ngModel)]="formReg.username" #username="ngModel" class="form-control" autocomplete="off">
                          <div class="text-danger {{ invis ? 'visible' : 'invisible' }} mb-2">Username is required</div>
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-1">
                          <input type="email" id="form3Example3c" placeholder="Your Email" name="email" [(ngModel)]="formReg.email" #email="ngModel" class="form-control" autocomplete="off">
                          <div class="text-danger {{ invis ? 'visible' : 'invisible' }} mb-2">Email is required</div>
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-1">
                          <input type="password" id="form3Example4c" placeholder="Your Password" name="password" [(ngModel)]="formReg.password" #password="ngModel" class="form-control" autocomplete="off">
                          <div class="text-danger {{ invis ? 'visible' : 'invisible' }} mb-2">Password is required</div>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button type="submit" class="btn btn-dark btn-lg">Register</button>
                      </form> 
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
