<nav class="navbar navbar-expand-lg navbar-light bg-magenta sticky-top">
    <div class="container">
        <div class="container">
            <div class="navbar-nav me-auto">
                <a class="navbar-brand d-flex align-items-center" routerLink="/">
                    <img src="../../../../assets/images/logo.jpg" alt="Logo" height="50" width="50">
                    <h4 class="nav-link m-0 fs-5">Workshelf</h4>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            @if(isRegistered()){
                <a class="nav-link" routerLink="/editorial/add">
                    <i class="bi fs-5 bi-bookmark-plus"></i>
                    New Editorial
                </a>
                <a class="nav-link" routerLink="/book/add">
                    <i class="bi fs-5 bi-bookmark-plus"></i>
                    New Book
                </a>
            }
            <ul class="navbar-nav">
                @if(this.router.url === '/login'){
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/registration">
                            <i class="bi fs-5 bi-person-fill-add"></i>
                            Register
                        </a>
                    </li>
                }
                @else {
                    @if (this.router.url === '/registration') {
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/login" >
                                <i class="bi fs-5 bi-door-open-fill"></i>
                                Login
                            </a>
                        </li>
                    }
                    @else {
                        @if(isRegistered()){
                            @if (isAdmin()){
                                <li class="nav-item me-2">
                                    <a class="nav-link" (click)="isAdmin()" routerLink="/admin">
                                        <i class="bi fs-5 bi-person-fill-add"></i>
                                        Admin Panel
                                    </a>
                                </li>
                            }
                            <div class="dropdown">
                                <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi fs-5 bi-person-fill-add"></i>
                                    {{ user.username }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li class="nav-item me-2">
                                      <a class="dropdown-item" routerLink="/user" >
                                          <i class="bi fs-5 bi-person-fill-add"></i>
                                          User profile
                                      </a>
                                  </li>
                                  <li class="nav-item me-2">
                                      <a class="dropdown-item" routerLink="/userreservations" >
                                          <i class="bi fs-5 bi-person-fill-add"></i>
                                          My reservations
                                      </a>
                                  </li>
                                  <li class="nav-item me-2">
                                      <a class="dropdown-item" routerLink="/userbookshare" >
                                          <i class="bi fs-5 bi-person-fill-add"></i>
                                          my books' reservations history
                                      </a>
                                  </li>
                                  <li class="nav-item me-2">
                                      <a class="dropdown-item" routerLink="/userbooklist" >
                                          <i class="bi fs-5 bi-person-fill-add"></i>
                                          My books
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="dropdown-item" routerLink="" (click)="logout()">
                                          <i class="bi fs-5 bi-door-open-fill"></i>
                                          Log Out
                                      </a>
                                  </li>
                                </ul>
                              </div>
                        }
                        @else {
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/login" >
                                    <i class="bi fs-5 bi-door-open-fill"></i>
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/registration">
                                    <i class="bi fs-5 bi-person-fill-add"></i>
                                    Register
                                </a>
                            </li>
                        }
                    }
                    
                }
                
            </ul>
        </div>
            </div>
        </div>
    </div>
</nav>