<nav class="navbar navbar-expand-lg bg-magenta navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="../../../../assets/images/workshelf.jpg" alt="Logo" height="30" width="175">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav custom-dropdown">
        <li class="nav-item">
          <a class="nav-link" routerLink="/book/list">
            <i class="bi fs-5 bi-journals"></i>
            Book List
          </a>
        </li>

        @if(isRegistered()) {
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi fs-5 bi-plus-circle-dotted"></i>
              New
            </a>
            <ul class="dropdown-menu custom-bg-light" aria-labelledby="newDropdown">
              <li class="dropdown-list-item">
                <a class="dropdown-item"  routerLink="/editorial/add">
                  <i class="bi bi-journal-plus"></i>
                  New Publisher
                </a>
              </li>
              <li class="dropdown-list-item">
                <a class="dropdown-item" routerLink="/book/add">
                  <i class="bi bi-book"></i>
                  New Book
                </a>
              </li>
            </ul>
          </li>
          
        }

        <li class="nav-item">
          @if(isRegistered()) {
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi fs-5 bi-person-fill-add"></i>
              {{ user.username }}
            </a>
            <ul class="dropdown-menu custom-bg-light" aria-labelledby="dropdownMenuButton1">
              <li class="dropdown-list-item">
                <a class="dropdown-item" routerLink="/userbooklist">
                  <i class="bi bi-book-half"></i>
                  My Books
                </a>
              </li>
              <li class="dropdown-list-item">
                <a class="dropdown-item" routerLink="/userreservations">
                  <i class="bi bi-journal-check"></i>
                  My Reservations
                </a>
              </li>
              <li class="dropdown-list-item">
                <a class="dropdown-item" routerLink="/userbookshare">
                  <i class="bi bi-journal-arrow-up"></i>
                  My Book Sharing History
                </a>
              </li>
              <li class="dropdown-list-item">
                <a class="dropdown-item" routerLink="/user">
                  <i class="bi bi-person"></i>
                  Profile
                </a>
              </li>
              @if (isAdmin()) {
              <li class="dropdown-list-item">
                <a class="dropdown-item" (click)="isAdmin()" routerLink="/admin">
                  <i class="bi bi-person-gear"></i>                  
                  Admin Panel
                </a>
              </li>
              }
              <li class="dropdown-list-item">
                <a class="dropdown-item" routerLink="" (click)="logout()">
                  <i class="bi bi-door-closed-fill"></i>
                  Log Out
                </a>
              </li>
            </ul>
          </div>
          } @else {
          <a class="nav-link" routerLink="/login">
            <i class="bi fs-5 bi-door-open-fill"></i>
            Login/Sign Up
          </a>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>